*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.navbar-list-div > ul >li>a  {
   font-family: Barlow;
   

}

.contact-button{
    background-color: white;
    border-radius: 20px;
    font-family: fraunces;
    
}

.contact-button:hover{
    background-color: rgb(185, 227, 255);
    border-radius: 20px;
    font-family: fraunces;
    
}

.section-1{
    box-sizing: border-box !important; 
}

.firstDiv{
    min-height: 200px;
    /* background-image: url("../html/images/wrapper.png"); */
    
}

.text-style1{
    font-family: Fraunces ;
    font-size: 60px;
    
}

.text-style2{
    font-family: Barlow;
   
}
.text-style3{
    font-family: Fraunces ;
   
}

.section4{
    min-height: 650px;
}

.testimonial-1{
    height: 450px;
}

.footer-area{
    min-height: 350px ;
    background-color: #90D4C6;
}

.footer-area > .list-area > ul {
    list-style: none;
    
}
.footer-area > .list-area > ul > li > a {
    list-style: none;
    color: #458D7E;
    text-decoration: none;
    font-family: barlow ;
}

.footer-area > .list-area > ul > li > a:hover{
    color: rgb(255, 255, 255);
}